{% extends 'base.html' %}
{% load static %}

{% block title %}About | Forefront HQ{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <img src="{% static 'images/ForefrrontHQ_Logo_FHQ.svg' %}" alt="Forefront HQ" height="150" width="150">
        </div>

        <div>
            <h3 class="label">// About Us</h3>
            <h3 class="label">Who We Are</h3>

            <h2>Webhive is a digital studio helping startups and small businesses grow online.</h2>
            <p>
                We combine full-stack development with digital marketing to deliver end-to-end solutions
                - from first consult to launch. We believe great digital products start with understanding your goals.
                Whether you need a landing page or a full-stack web app, we bring care, craft, and strategic thinking to every
            </p>
        </div>

        <div class="hero-actions">
            <a href="/packages/" class="btn btn-primary">Work with us</a>
            <a href="/portfolio/" class="btn btn-outline">See Our Work</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">


    </div>
</div>
{% endblock %}